@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html{
    font-size: 10px;
}


h2{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

p, a{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    
}